*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://songhantourist.com/upload/articles-images/images/Kdokawa_from%20Kadokawa%20Culture%20Museum.jpeg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
form {
    width: 20%;
    text-align: center;
    margin: 100px auto 0px;
    font-size: 20px;
    padding: 50px;
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(240, 240, 240);
}
input {
    width: 85%;
    height: 20px;
    font-size: 16px;
    border: none;
    background: transparent;
    border-bottom: 2.5px solid rgb(165, 165, 165);
    outline: none;
    margin: 20px 0px;
    color: white;
}
input::placeholder{
    color: rgb(183, 183, 183);
    margin-left: 10px;
}
.input-phu{
    display: flex;
    margin: 5px 25px 40px;
    justify-content: space-between;
}
.input-phu a{
    font-size: 10px;
    color: white;

}
#test {
    width: 100px;
    height: 25px;
    outline: none;
    border: none;
}
#test:hover {
    cursor: pointer;
    background-color: #CCCCCC;
}
h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}