body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.spiderum.com/sp-images/05188cf015ad11e7ae28b9f83783eb34.jpg'); 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}

form {
    background-color:  rgb(113 87 87 / 50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(160 114 207);
    width: 300px; /* Adjust the width as needed */
    margin: 10px auto 0px;
    font-size: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 20px 0px;
    box-sizing: border-box;
    border: none;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 100px;
}

button:hover {
    background-color: red;
}
h2 {
    text-align: center;
}